In [ ]:
USE SYS;
create table books_table(
book_id int primary key,
title varchar (100), 
author varchar (100),
genre varchar (100), 
publication_date date,
isbn VARCHAR (200), 
quantity_available int);

In [ ]:
INSERT INTO books_table (book_id, title, author, genre, publication_date, isbn, quantity_available) 
VALUES 
(1, 'Harry Potter', 'J.K. Rowling', 'Fantasy', '1997-06-26', '9788700631625', 5),
(2, 'To Kill a Mockingbird', 'Harper Lee', 'Fiction', '1960-07-11', '9780061120084', 3),
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 'Classic', '1925-04-10', '9780743273565', 2);

In [ ]:
USE SYS;
create table Authors_Table(
author_id int primary key,
author_name varchar (100));

In [ ]:
INSERT INTO Authors_Table (author_id, author_name) 
VALUES 
(1, 'J.K. Rowling'),
(2, 'Harper Lee'),
(3, 'F. Scott Fitzgerald');

In [ ]:
USE SYS;
create table Members_Table(
member_id  int primary key,
member_name varchar (100),
member_email varchar (60) unique,
member_phone varchar (20));

In [ ]:
INSERT INTO Members_Table (member_id, member_name, member_email, member_phone) 
VALUES 
(1, 'John Doe', 'john.doe@example.com', '123-456-7890'),
(2, 'Jane Smith', 'jane.smith@example.com', '987-654-3210');

In [ ]:
USE SYS;
create table Borrowings_Table(
borrowing_id  int primary key,
book_id int,
member_id int,
borrowing_date date,
return_date date,
is_returned boolean,
FOREIGN KEY (book_id) REFERENCES books_table (book_id),
FOREIGN KEY (member_id) REFERENCES Members_Table (member_id));

In [ ]:
INSERT INTO Borrowings_Table (borrowing_id, book_id, member_id, borrowing_date, return_date, is_returned) 
VALUES 
(1, 1, 1, '2024-02-10', '2024-02-20', TRUE),
(2, 2, 2, '2024-02-15', NULL, FALSE);

In [ ]:
USE SYS;
create table Publishers_Table(
publisher_id  int primary key,
publisher_name VARCHAR (200),
publisher_country VARCHAR (100));

In [ ]:
INSERT INTO Publishers_Table (publisher_id, publisher_name, publisher_country) 
VALUES 
(1, 'Penguin Random House', 'United States'),
(2, 'HarperCollins', 'United Kingdom');

In [ ]:
USE SYS;
CREATE TABLE Book_Copies (
    copy_id INT PRIMARY KEY,
    book_id INT,
    copy_number VARCHAR(50),
    COPY_condition VARCHAR(50),
    shelf_location VARCHAR(50),
    FOREIGN KEY (book_id) REFERENCES books_table(book_id)
);

In [ ]:
INSERT INTO Book_Copies (copy_id, book_id, copy_number, COPY_condition, shelf_location) 
VALUES 
(1, 1, '001', 'Good', 'A1'),
(2, 1, '002', 'Fair', 'B3');

In [ ]:
USE SYS;
CREATE TABLE AuthorsBooksMapping (
    author_book_id INT PRIMARY KEY,
    author_id INT,
    book_id INT,
    FOREIGN KEY (author_id) REFERENCES Authors_Table(author_id),
    FOREIGN KEY (book_id) REFERENCES books_table(book_id)
);

In [ ]:
INSERT INTO AuthorsBooksMapping (author_book_id, author_id, book_id) 
VALUES 
(1, 1, 1),
(2, 2, 2);

In [ ]:
USE SYS;
CREATE TABLE Reviews (
    review_id INT PRIMARY KEY,
    book_id INT,
    member_id INT,
    rating DECIMAL(3, 1), 
    review_text TEXT,
    review_date DATE,
    FOREIGN KEY (book_id) REFERENCES books_table(book_id),
    FOREIGN KEY (member_id) REFERENCES Members_Table(member_id)
);

In [ ]:
INSERT INTO Reviews (review_id, book_id, member_id, rating, review_text, review_date) 
VALUES 
(1, 1, 1, 4.5, 'A classic masterpiece.', '2024-02-12'),
(2, 2, 2, 5.0, 'Absolutely loved it!', '2024-02-18');

In [ ]:
USE SYS;
CREATE TABLE Transactions (
    transaction_id INT PRIMARY KEY,
    member_id INT,
    transaction_date DATE,
    transaction_type VARCHAR(50),
    amount_paid DECIMAL(10, 2),
    FOREIGN KEY (member_id) REFERENCES Members_Table(member_id)
);

In [ ]:
INSERT INTO Transactions (transaction_id, member_id, transaction_date, transaction_type, amount_paid) 
VALUES 
(1, 1, '2024-02-10', 'Borrow', 0),
(2, 2, '2024-02-15', 'Borrow', 0);

In [ ]:
#1.List all books borrowed by a specific member:
SELECT b.title, b.author, b.genre, b.publication_date, b.isbn
FROM books_table b
JOIN Borrowings_Table bor ON b.book_id = bor.book_id
JOIN Members_Table m ON bor.member_id = m.member_id
WHERE m.member_name = 'John Doe';

In [ ]:
#2. 
SELECT genre, COUNT(*) AS genre_count
FROM books_table
GROUP BY genre
ORDER BY genre_count DESC;

In [ ]:
#3. 
SELECT b.title, AVG(r.rating) AS average_rating
FROM books_table b
JOIN Reviews r ON b.book_id = r.book_id
GROUP BY b.title
ORDER BY average_rating DESC
LIMIT 1;

In [ ]:
#4.
SELECT m.member_id, m.member_name
FROM Members_Table m
JOIN Borrowings_Table bor ON m.member_id = bor.member_id
GROUP BY m.member_id, m.member_name
HAVING COUNT(bor.borrowing_id) > 5;

In [ ]:
#5.
SELECT m.member_id, m.member_name
FROM Members_Table m
LEFT JOIN Borrowings_Table bor ON m.member_id = bor.member_id
GROUP BY m.member_id, m.member_name
HAVING COUNT(bor.borrowing_id) < 5 OR COUNT(bor.borrowing_id) IS NULL;

In [ ]:
#6.
SELECT b.title, AVG(r.rating) AS average_rating, COUNT(r.review_id) AS review_count
FROM books_table b
JOIN Reviews r ON b.book_id = r.book_id
GROUP BY b.book_id, b.title
HAVING COUNT(r.review_id) >= 5
ORDER BY AVG(r.rating) DESC;

In [ ]:
#7. 
SELECT SUM(amount_paid) AS total_revenue
FROM Transactions
WHERE transaction_type = 'purchase';

In [ ]:
#8. 
SELECT 
    b.title AS book_title, 
    a.author_name AS author
FROM 
    books_table b
JOIN 
    Authors_Table a ON b.author = a.author_id;

In [ ]:
#9. 
SELECT b.title AS book_title, b.quantity_available
FROM Books_Table b
LEFT JOIN Borrowings_Table bor ON b.book_id = bor.book_id
WHERE bor.book_id IS NULL OR bor.is_returned = 'false';

In [ ]:
#10.
SELECT m.member_id, m.member_name
FROM Members_Table m
JOIN Borrowings_Table bor ON m.member_id = bor.member_id
WHERE bor.return_date < CURDATE() AND bor.is_returned = 'false';

In [ ]:
#11.
SELECT b.title AS book_title, COUNT(*) AS borrow_count
FROM books_table b
JOIN Borrowings_Table bor ON b.book_id = bor.book_id
GROUP BY b.book_id, b.title
ORDER BY borrow_count DESC
LIMIT 10;

In [ ]:
#12.
SELECT AVG(DATEDIFF(return_date, borrowing_date)) AS average_borrow_duration
FROM Borrowings_Table
WHERE is_returned = true;


SELECT b.title AS book_title, COUNT(*) AS borrow_count
FROM Borrowings_Table bor
JOIN Books_Table b ON bor.book_id = b.book_id
GROUP BY bor.book_id
ORDER BY borrow_count DESC
LIMIT 10;

In [ ]:
#13.
SELECT YEAR(publication_date) AS publication_year, COUNT(*) AS total_books_published
FROM books_Table
GROUP BY YEAR(publication_date)
ORDER BY publication_year;

In [ ]:
#14.
SELECT m.member_id, m.member_name
FROM Members_Table m
JOIN Borrowings_Table bor ON m.member_id = bor.member_id
GROUP BY m.member_id, m.member_name
HAVING COUNT(bor.borrowing_id) > 1;

In [ ]:
#15. 
SELECT 
    b.title AS book_title, 
    a.author_name AS author, 
    AVG(r.rating) AS average_rating
FROM 
    Books_Table b
JOIN 
    AuthorsBooksMapping ab ON b.book_id = ab.book_id
JOIN 
    Authors_Table a ON ab.author_id = a.author_id
LEFT JOIN 
    Reviews r ON b.book_id = r.book_id
GROUP BY 
    b.book_id, b.title, a.author_name;

In [ ]:
#16.
SELECT 
    b.book_id,
    b.title AS book_title,
    COUNT(bc.copy_id) AS total_copies_available
FROM 
    Books_Table b
LEFT JOIN 
    Book_Copies bc ON b.book_id = bc.book_id
GROUP BY 
    b.book_id, b.title;

In [ ]:
#17. Create a view of transaction table and provide privilege to another user. The user can view only member id and transaction date and privilege should be to select id who made transaction on any specific date.
CREATE VIEW RestrictedTransactionView AS
SELECT member_id, transaction_date
FROM Transactions_Table;

GRANT SELECT ON RestrictedTransactionView TO 'username'@'hostname';